#home {
  background-image:url("images/pexels.jpg");
  position: relative;
  padding:15% 7% 14%;
  color:black;
  text-align: center;
  height:600px;
  background-size: cover;
  background-repeat: no-repeat;

}
#about{
  text-align: center;
  padding:4% 7% 14%;
  background-color: white;
}
marquee{
  color:white;
  font-weight: bolder;
}
.marque{
  background-color:#423F3E;
  line-height: 2;
  padding-top:5px;

}
#navbar{
background-color: black;
  color:white;
}
.navv{
  color:white;
  font-size: 2rem;
  margin: 10px;
}
.navbar-brand {
  color:white;
}
.nav-button{
    color:white;
}
.social-icon{
  color:black;
  font-size:2.5rem;
  margin:5px;
}
.social-icon:hover{
  color:grey;
}
.register-btn{
  margin-top:15px;
  font-size: 1.5rem;
  background-color: black;

}
.register-btn:hover{
  color:grey;
}
.about-para{
  margin-top: 5%;
}
#transfer{
  background-image: url("images/card.jpg");
color:white;
height: 500px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
text-align:center;
padding:7% 5% 15%;
}
.header{
  color:black;
}
.title{
    color:black;

}
.payment{
  background-color: black;
  padding:1%;

}
.transfer-button{
  margin:13px;
}
.transfer-button-green{
    margin:13px;
    background-color: green;
}
.image{
  background-color:  #DFD8CA;
  text-align: center;
}
.top-images{
  margin:40px;
}
#transfer-amount{
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  padding:10% 5% 15%;
}
.transfer-title{
  text-align: center;
  padding:3%;
}
.table{
  font-weight: bolder;
}
.modal{
  background: rgb(51,43,47);
  background: radial-gradient(circle, rgba(51,43,47,1) 0%, rgba(241,241,241,1) 100%);
}
p{
  font-weight: bolder;
}
#transaction{
  padding :10% 7% 15%;
text-align:center;
 background-color: #5D76A9;

}
.t-topic{
  text-align: center;
}
#accountbal{
  margin :10px;
  line-height: 2rem;
}
.footer{
  padding:5% 7%;
  background-color: black;
  color:white;
  text-align: center;
}
#contact{
  padding:5% 7% 15%;
  background-color: white;


}
.bottom{
  background-color: black;
  color:white;
  padding:3% 7%;
  text-align: center;
}
.navbar-toggler{
background-color:#E8E1D9;
color:black;
border-radius: 350px;
}
.navbar-toggler-icon{
  color:black;
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: bolder;
}
 h4 {
  font-weight: bolder;
  font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}
p{
font-family: 'Rubik', sans-serif;
  font-weight: bolder;
  font-size: 1.5rem;
}
mark{
  background-color: white;
  padding:2px;
}
